body {
    font-family: 'Georgia', serif;
    background-color: #ffebee; /* light pink background */
    color: #d32f2f; /* Romantic red text */
    text-align: center;
    padding: 50px;
    margin: 0;
} 

h1 {
    font-size: 3rem;
    margin-bottom: 20px;

}

p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #d32f2f; /* red button*/
    color: white;
    transition: background-color 0.3s;

}

button:hover {
    background-color: #b71c1c; /*dark red on hover*/
}

#noButton {
    position: absolute;


}

#topGif {
    width: 200px;
    margin-bottom: 20px;

}

#response {
    margin-top: 30px;
   
}

#celebration {
    width: 300px;
    margin-bottom: 20px;
   
}

#yayText {
    font-size: 2rem;
    color: #d32f2f;
    margin-bottom: 10px;

}

#heartfeltMssage {
    font-size: 1.2rem;
    color: #d32f2f;
    max-width: 600px;
    margin: 0 auto;
}